<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Terminy</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.css">
    <style type="text/css">
        body{ font: 14px sans-serif; text-align: center; }
        .wrapper{ width: 350px; padding: 20px; margin:auto; }
    </style>
</head>
<body>

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Terminy</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li class="active"><a href="/company"><span class="glyphicon glyphicon-list"></span> Twoja firma</a></li>
                <li><a href="/company/companySchedule"><span class="glyphicon glyphicon-calendar"></span> Kalendarz</a></li>
                <li><a href="/company/companyServices"><span class="glyphicon glyphicon-plus"></span> Usługi</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/company/editCompany"><span class="glyphicon glyphicon-user"></span> Twoje konto</a></li>
                <li><a href="/logout"><span class="glyphicon glyphicon-log-in"></span> Wyloguj</a></li>
            </ul>
        </div>
    </div>
</nav>
<form th:action="@{/company/blockingUsers}" method="POST" th:object="${company}">
    <table class="table table-hover" style="width:80%; margin:auto;">
        <tr>
            <th:block th:each="client : ${allClients}">
                <td><label th:text="${client.username}"></label></td>
                <td> <input type="checkbox" th:field="*{blockedUsers}" th:value="${client.id}" th:checked="${blockedUsers.contains(client)}"></td>
            </th:block>
        </tr>
    </table>

    <div class="field">
        <button class="btn btn-primary" type="submit">Zablokuj</button>
    </div>

</form>
</body>
</html>
