<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Terminy - błąd</title>
    <link rel="stylesheet" type="text/css" href="../resources/userDataForms.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div id = "main">
    <div class="login-page">
        <p style="font-size: 24px; font-weight:bold;">TERMINY</p>
        <p style="font-size: 18px;">Coś poszło nie tak! <br> Skontaktuj się z administratorem</p>
    </div>
</div>
</body>
</html>
