<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Terminy - przypomnij hasło</title>
    <link rel="stylesheet" type="text/css" href="../resources/userDataForms.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="manifest" href="../resources/manifest.json">
</head>
<body>
<div id = "main">
    <div class="login-page">
        <p style="font-size: 24px; font-weight:bold;">TERMINY</p>
        <div class="form">
            <form action="#" th:action="@{/forgotPassword}" method="post">
                <input type="text" name="email" th:placeholder="email" id="email"/>
                <div align="center" th:if="${param.error}">
                    <p style="font-size: 12px; color: #FF1C19; margin-top:-10px;">Podany adres e-mail nie istnieje</p>
                </div>
                <button type="submit" id="button_submit">Przypomnij hasło</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>