<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Terminy - logowanie</title>
    <link rel="stylesheet" type="text/css" href="../resources/userDataForms.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="manifest" href="../resources/manifest.json">
</head>
<body>
<div id = "main">
    <div class="login-page">
        <p style="font-size: 24px; font-weight:bold;">TERMINY</p>
        <p style="font-size: 18px; margin-top:-15px;" th:text="${company.name}">...</p>
        <div class="form">
            <form action="#" th:action="@{/login}" method="post">
                <input type="text" name="login" th:placeholder="login" id="login"/>
                <input type="password" name="password" th:placeholder="hasło" id="password"/>
                <div align="center" th:if="${param.error}">
                    <p style="font-size: 12px; color: #FF1C19; margin-top:-10px;">Niepoprawny login lub hasło</p>
                </div>
                <button type="submit" id="button_submit">Zaloguj się</button>
                <p class="message">Nie masz konta? <a href="/register">Zarejestruj się</a></p>
            </form>
        </div>
    </div>
</div>
</body>
</html>
