<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Terminy - rejestracja</title>
    <link rel="stylesheet" type="text/css" href="../resources/userDataForms.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div id = "main">
    <div class="login-page">
        <p style="font-size: 24px; margin-top: 20px; margin-bottom:3px;">TERMINY</p>
        <div class="form">
            <form action="#" th:action="@{/register}" th:object="${client}" method="post">
                <input type="text" name="user" th:field="*{login}" th:placeholder="login"/>
                <p class="register-warning" th:if="${#fields.hasErrors('login')}" th:errors="*{login}"></p>
                <input  type="text" name="mail" th:field="*{mail}" th:placeholder="mail"/>
                <p class="register-warning" th:if="${#fields.hasErrors('mail')}" th:errors="*{mail}"></p>
                <input type="password" name="password" th:field="*{password}" th:placeholder="hasło"/>
                <p class="register-warning" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></p>
                <input type="text" name="name" th:field="*{name}" th:placeholder="imię"/>
                <p class="register-warning" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></p>
                <input type="text" name="surname" th:field="*{surname}" th:placeholder="nazwisko"/>
                <p class="register-warning" th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}"></p>
                <input type="text" name="phone" th:field="*{phone}" th:placeholder="telefon"/>
                <p class="register-warning" th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}"></p>
                <button type="submit" id="button_submit">Utwórz konto</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>