<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Terminy - rezerwacja usługi</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <style type="text/css">
        body{ font: 14px sans-serif; text-align: center; }
        .wrapper{ width: 350px; padding: 20px; margin:auto; }
    </style>
</head>
<body>

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Terminy</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li><a href="/user"><span class="glyphicon glyphicon-list"></span> Home</a></li>
                <li class="active"><a href="/user/reservationIntro/service/__${service.id}__"><span class="glyphicon glyphicon-plus"></span> Zarezerwuj usługę</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/user/editClient"><span class="glyphicon glyphicon-user"></span> Twoje konto</a></li>
                <li><a href="/logout"><span class="glyphicon glyphicon-log-in"></span> Wyloguj</a></li>
            </ul>
        </div>
    </div>
</nav>
<form class="form-horizontal" action="#" th:action="@{/user/reservation}" th:object="${calendar}" method="post">
    <fieldset style="...">
        <legend style="..."> <h1>Wybierz datę</h1></legend>
        <div class="form-group">
            <label class="col-md-4 control-label" for="data">Data</label>
            <div class="col-md-2">
                <div class="input-group">
                    <input id="data" name="data" type="date" onkeypress='return event.charCode >= 48 && event.charCode <= 57'
                           placeholder="Data" class="form-control" required="" th:field="*{date}"/>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label" for="add"></label>
            <div class="col-md-4">
                <button id="add" name="add" class="btn btn-primary">Wybierz</button>
            </div>
        </div>
        <div class="alert alert-danger" th:if="${param.error}">
            Firma nie pracuje w ten dzień!
        </div>
        <div class="alert alert-danger" th:if="${param.notsaved}">
            Nie udało się zarezerwowac terminu. Spróbuj ponownie później!
        </div>
        <div class="alert alert-danger" th:if="${param.notallowed}">
            Firma zablokowała Ci możliwość rezerwacji terminu!
        </div>
        <div class="alert alert-danger" th:if="${param.badterm}">
           Nie można zarezerwować tego terminu!
        </div>
        <div class="alert alert-success" th:if="${param.saved}">
           Pomyślnie zarezerwowano termin!
        </div>

    </fieldset>
</form>
<table class="table table-hover" style="width:80%; margin:auto;">
    <thead>
    <tr>
        <th>Godzina początkowa</th>
        <th>Godzina końcowa</th>
    </tr>
    </thead>
    <th:block th:each="reservation : ${reservationsList}">
        <tr style="text-align: left;">
            <td th:text="${reservation.start_hour}">...</td>
            <td th:text="${reservation.end_hour}">...</td>
            <td>
                <form  action="#" th:action="@{/user/reservation/add/__${reservation.id}__}" th:method="get" >
                    <button type="submit" class="btn btn-link">Zarezerwuj</button>
                </form>
            </td>
        </tr>
    </th:block>
</table>
</body>
</html>